body {
  background: #4c566a;
  color: aliceblue;
}
#root {
  padding: 0 100px;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

button {
  padding: 7px 17px;
  background: #c4c4c4b6;
  color: rgb(19, 19, 19);
  border: unset;
  cursor: pointer;
  transition: background 0.4s;
  border-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 2px solid transparent;
}
button:hover {
  background: #5f5f5fa9;
  color: orange;
}

input {
  cursor: pointer;
  border-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 2px solid transparent;
  padding: 5px 10px;
  width: 400px;
  display: block;
}

li {
  font-size: 14px;
  padding: 1px 0;
  counter-increment: li;
}

li::marker {
  display: list-item;
  content: counter(li) ".  ";
  color: lightsalmon;
  font-weight: bold;
}

*:focus {
  outline: none;
}

input:focus {
  border: 2px solid orange;
  border-right: 0;
}

input:focus ~ button {
  border: 2px solid orange;
  border-left: 0;
}

.flex {
  display: flex;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 13px;
}

li:hover {
  transform: translateX(-10px);
  color: rgb(24, 223, 223);
  text-shadow: 0px 0px 5px black;
}
li:hover::marker {
  text-shadow: none;
}

.error {
  background: red;
  display: block;
  width: 50vw;
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  border: 4px solid whitesmoke;
}
