* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 20px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.box {
  border-radius: 10px;
  min-height: 100px;
}
.box1 {
  background: #bf616a;
  grid-column: 1 / span 4;
}
.box2 {
  background: #88c0d0;
  grid-column: 1 / span 2;
  grid-row: 2 / span 2;
}
.box3 {
  background: #a3be8c;
  grid-column: 3 / span 2;
}
.box4 {
  background: #b48ead;
}
.box4:first-child {
  grid-column: 4 / span 1;
}
