.album-container {
  width: 300px;
  /* background: red; */
  /* border: 1px solid black; */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.397);
  border-radius: 25px;
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
  overflow: hidden;
  margin: 0 5px;
}

.album-container * {
  padding: 0;
  margin: 0;
}

.album-container .info {
  text-align: center;
}
.album-container .info h2 {
  font-size: 24px;
}
.album-container .info span {
  color: rgba(0, 0, 0, 0.808);
  font-size: 14px;
}

.meta {
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
  color: rgb(85, 85, 85);
}
.meta a {
  color: inherit;
}
.meta span {
  font-size: 12px;
}

.album-container img {
  width: 100%;
  object-fit: cover;
}
