* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 70vh;
  background: #f4f7cc;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.box {
  width: 200px;
  height: 200px;
  text-align: center;
}

.box1 {
  background: #458107;
}

.box2 {
  background: #3567fe;
}

.box3 {
  background: #ea4330;
}
