body {
  background: #4c566a;
  color: aliceblue;
}
#root {
  width: 800px;
  margin: 0 auto;
  /* text-align: center; */
}

button {
  padding: 7px 17px;
  background: #424141;
  color: whitesmoke;
  border: unset;
  cursor: pointer;
  transition: all 0.4s;
  margin: 5px 10px;
}
button:hover {
  background: #5f5f5fa9;
  color: orange;
}
input {
  padding: 5px 10px;
  background: #7e7e7e;
  border: 1px solid rgb(117, 117, 117);
  color: white;
  border-radius: 15px;
}

*:focus {
  outline: none;
}
.card {
  background: whitesmoke;
  text-align: center;
  padding: 10px 5px;
  color: #4c566a;
  max-width: 400px;
  margin: 10px auto;
}
