* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 50vh;
  background: #f4f7cc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 200px;
  height: 200px;
  text-align: center;
}

.box1 {
  background: #458107;
}

.box2 {
  background: #3567fe;
}

.box3 {
  background: #ea4330;
}
